@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

h1 {
    font-size: 120px;
    color: white;}
h2 {
    font-size: 60px;
    color: white;}
h3 {
    font-size: 20px;
    color: grey;}
p {
    color: white;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;}
p1 {
    color: white;}
ul {
    list-style-type: square;}

.btn{
    font-size: 20px;
    background: #D0D0D0;
    width: 200px;
    padding: 20px 34px;
    font-weight: none;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fafafa;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0.0.0.0.1);
    opacity: 0.98;}
.btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);}

.bordered {
    width: 300px;
    height: 100px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 18px;
    opacity: 1;}

div {
    position: absolute;
    animation: mymove 3s;
}
#div1 {
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
#div2 {
    animation-timing-function: ease;
    animation: mymove1 3s;
    animation-fill-mode: forwards;
}

@keyframes mymove {
        from {left: 0px;}
        to {left: 250px;}}
@keyframes mymove1 {
        from {right: 0px;}
        to {right: 250px;}}
